@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Montserrat:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900;
}

a{
    text-decoration: none;
}

ul li {
    list-style: none;
}

button{
    background-color: #e56711;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px 35px;

}
.header {
    height: 100vh;
    background-color: #fff2ea;
}

img{
    width: 90px;
}

/* les ecritures */
h1{
    /* font-size: 60px; */
    font-size: 500%;
    color: #28304c;
}

p{
    font-size: 15px;
    color: #c1bec0;
    padding-bottom: 5%;
}

/* fin ecritures */
.container {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

@media screen and (min-width:1200px) {
    .container {
        width: 1080px;
    }
}

@media screen and (min-width:1400px) {
    .container {
        width: 1280px;
    }
}

/* barre menu (logo/menu/logo) */

.menu{
    display: none;
}

.btn-contact{
    margin: -5px 0px 0px 0px;
    font-size: 20px;
}

.menu a {
    color: black;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.orange {
    color: #fdca79 !important;; 
}

@media screen and (min-width: 1200px) {
    .top-bar{
        /* display: flex; */
        /* justify-content: space-between; */
        background-color: white;
        border-radius: 15px;
        /* height: 50px; */
        padding: 40px;
    }

    .burger{
        display: none;
    }

    .menu{
        display: flex;
        justify-content: space-evenly;
        width: 45%;
    }
}

/* fin barre menu */

/* debut section 1(titre/texte/image) */

 


/*  
.header_title{
    margin-top: 200px;
    margin-bottom: 100px;
}
.header_title p{
    margin-top: 45px;
}
.button_title{
    font-size: 27px;
    margin-bottom: 65px;
} */


.img_header{
    width: 100%;
}

.img_header img {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    
    .img_header{
        width: 50%;
    }
    .img_header img {
        width: 900px;
    }
    .smiley{
        width: 75px;
        margin-top: 75px;
    }
    
    .header_title{
        margin-top: 200px;
        margin-bottom: 100px;
    }
    .header_title p{
        margin-top: 45px;
    }
    .button_title{
        font-size: 27px;
        margin-bottom: 65px;
    }

}
.smiley{
    width: 75px;
    margin-top: 75px;
}

/* partie opaque */

.transparent{
    /* background-color: white; */
    /* background: linear-gradient( -90, orange, violet); */
    background: linear-gradient(to right, orange, violet);
    height: 212px;
}

@media screen and (min-width: 1200px) {
    .circles{
        display: flex;
        width: 30%;
        justify-content: space-between;
    }

    .transparent p {
        margin-bottom: -50px !important;
    }

    .circ1 img{
        width: 75px;
    }

    .uix{
        background-color: white;
        border-radius: 25px;
        width: 200px;
        position: absolute;
        display: flex;
        /* display: none; */
    } 

    .best{
        background-color: white;
        border-radius: 25px;
        width: 200px;
        position: absolute;
        /* display: none; */
    } 

    .shopify{
        background-color: white;
        border-radius: 45px;
        width: 100px;
        height: 180px;
        position: absolute;
        display: none;
    } 
    
    
}



/* fin partie opaque */

/* debut main */

/* section 1 */
.img1 img{
    width: 500px;
}

.service{
    display: flex;
    padding-bottom: 15px;
}
@media screen and (min-width: 1200px) {

    
    .sect_1{
        display: flex;
        justify-content: space-between;
    }

    .services{
        background-color: #fff2ea;
        border-radius: 15px;
        width: 40%;
        padding: 45px;
    }

    .service{
        display: flex;
        background-color: white;
        border-radius: 15px;
        width: 90%;
        padding: 25px;
        margin-top: 15px;
        border: none;
    }

    .service:hover{
    border-left: 10px solid pink;
    border-top: 10px solid violet;
    border-radius: 10px solid orange;
    transition-duration: 0.3s;
    }

    .txt-s{
        padding-left: 10px;
    }

    .list{
        background-color: #f0fbf2;
    }

    .projects{
        background-color: tomato;
        padding: 25px 45px;
    }

    .projects h1{
        padding-left: 25%;
        padding-bottom: 50px;
    }
    .pres_pro{
        display: flex;
        justify-content: space-evenly;
    }
    .img1 img{
        width: 500px;
    }


}



